body,
html {
  height: 100%;
}

body {
  background-color: $base-color;
  font-size: $default-font-size;
  font-family: $font-family;
  color: $secondary-color;
  max-width: 100vw;
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
