.end-game-modal {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    color: $primary-color;
    transition: all .3s ease-in;

    &--active {
        opacity: 1;
        pointer-events: all;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $secondary-color;
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .end-game-modal__title {
        opacity: 0;
        font-size: 4rem;

        @include breakpoint(large) {
            font-size: 8rem;
        }
    }
    
    .end-game-modal__subtitle {
        opacity: 0;
        margin-top: -0.3rem;

        @include breakpoint(large) {
            margin-top: -0.8rem;
            font-size: 1rem;
        }
    }

    .end-game-modal__button {
        opacity: 0;
        margin-top: 1rem;

        @include breakpoint(med) {
            font-size: 1.4rem;
        }

        @include breakpoint(mega) {
            font-size: 2.4rem;
        }
    }
}