.game {
  position: relative;
  background-color: $secondary-color;
  width: 100vw;
  height: 100vh;

  .game__header {
    background-color: $base-color;
    width: 100%;
    height: 10vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 40%;
    }
  }
  .game__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    @include breakpoint(large) {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 1fr;
      align-content: center;
      grid-template-areas:
        ". hangman category ."
        ". hangman word ."
        ". hangman keyboard .";
    }
  }
  .hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    

    @include breakpoint(large) {
      grid-area: hangman;
    }
  }
  .hangman svg {
    width: 60%;

    @include breakpoint(med) {
      width: 80%;
    }
    @include breakpoint(large) {
      // width: 100%;
      align-self: center;
      transform: scale(1.3);
    }
    @include breakpoint(wide) {
      transform: scale(2);
    }
  }
  .category-box {
    position: relative;
    border: 2px solid $primary-color;
    color: $primary-color;
    width: 70%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 auto;

    span {
      text-align: center;
      margin: 0 auto;
      font-size: 1rem;
      letter-spacing: 4px;

      @include breakpoint(med) {
        font-size: 1.1rem;
      }
      @include breakpoint(wide) {
        font-size: 1.2rem;
      }
    }

    &::before {
      position: absolute;
      content: "category";
      background-color: $secondary-color;
      padding: 5px 10px;
      top: -50%;
      left: 5%;
      transform: translateY(50%);
      font-size: 0.5rem;

      @include breakpoint(wide) {
        top: -40%;
        font-size: 0.5rem;
      }
    }

    @include breakpoint(large) {
      width: 50%;
      grid-area: category;
    }
  }
  .secret-word {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    max-width: 80%;
    color: $primary-color;
    margin: 10% auto;
    align-items: center;
    justify-content: space-evenly;

    &__letter {
      text-align: center;
      padding: 0.3rem 0.5rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: $primary-color;
        width: 50%;
        height: 0.1rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint(wide) {
          width: 100%;
          left: 0;
          transform: none;
        }
      }

      @include breakpoint(med) {
        font-size: 1.4rem;
      }
      @include breakpoint(wide) {
        padding: 0.2rem 0.4rem;
      }
    }

    @include breakpoint(large) {
      grid-area: word;
    }
    @include breakpoint(wide) {
      max-width: 80%;
      font-size: 2.2rem;
      justify-content: space-between;
      margin: 0 20%;
    }
  }
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    &__row {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      justify-content: center;
    }
    &__key {
      display: flex;
      width: 1.2rem;
      height: 1.2rem;
      margin: 0.3rem;
      padding: 0.3rem;
      color: $secondary-color;
      background-color: $primary-color;
      justify-content: center;
      align-self: center;
      font-size: 0.6rem;
      transition: background-color 0.3s ease-out, color 0.4s ease-in;
      cursor: pointer;

      &:hover {
        color: lighten($secondary-color, 60%);
        background-color: darken($primary-color, 20%);
      }

      @include breakpoint(med) {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 0.8rem;
      }
      @include breakpoint(large) {
        margin: 0.3rem;
        padding: 0.3rem;
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.2rem;
      }
      @include breakpoint(wide) {
        width: 3rem;
        height: 3rem;
        margin: 0.4rem;
        padding: 0.4rem;
        font-size: 1.8rem;
      }
    }

    @include breakpoint(large) {
      grid-area: keyboard;
    }
    @include breakpoint(wide) {
      margin: 0.2rem;
      padding: 0.2rem;
    }
  }
  &::before {
    content: "";
    width: 100vw;
    height: 100%;
    background-image: url(../assets/wave.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    position: absolute;
    top: -100%;
    left: 0;
    pointer-events: none;
    z-index: 1;

    @include breakpoint(wide) {
      height: 60%;
      top: -50%;
    }
  }
}
